* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    transition: 1s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    background-color: rgb(195, 60, 84);
    max-height: 10vh;
    width: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 50px;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 10px;
}

.nav-item:hover{
    font-size: 20px;
}

.tic-link:hover, .aim-link:hover {
    font-size: 4vw;
    color: rgb(37, 78, 112);
}

.tic-link, .aim-link {
    text-decoration: none;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(37, 78, 112);
    height: 100%;
    justify-content: center;
}

.name {
    font-size: 4vw;
}

.hor-line {
    background-color: white;
    max-width: 10vw;
    max-height: .5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.jumbotron-text {
    max-width: 80vw;
    margin: 40px;
}

.bio {
    padding-top: 1vh;
    line-height: 25px;
    max-width: 60vw;
}

.first-name {
    font-size: 3.9vw;
    padding-bottom: 1vh;
    color: rgba(195, 60, 84, 1);
}

.about-header {
    font-size: 3vw;
}

.selfie {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.selfie-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.school {
    background-color: rgba(37, 78, 112, 0.8);
    box-shadow: 5px 4px 5px rgb(0 0 0 / 40%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.roc-img {
    height: 100%;
    width: 100%;
}
.school-title {
    font-size: 3.9vw;
    padding-bottom: 1vh;
    color: rgba(253, 130, 212, 0.8);
}

.school-photo {
    width: 20%;
    border-radius: 10px;
    height: fit-content;
    width: 50%;
    margin: 2vw;
}

.career-bio{
    font-size: 1vw;
    margin-bottom: 21px;
}

.skills{
    display: flex;
    background-color: rgba(37, 78, 112, 0.6);
    height: 20vw;
    width: 100%;
}

.skill-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
    font-size: 3vw;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.4);
}

.vert-line {
    background-color: white;
    max-width: .5vw;
    max-height: 8vh;
    margin-left: 6vh;
    margin-right: 6vh;
}

.finished-projects {
    display: flex;
    background-color: rgb(182, 111, 158);
    height: 20vw;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(182, 111, 158, 0.8);
    height: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.contact-title {
    font-size: 8vw;
    color: rgba(37, 78, 112, 1);
}

.icons {
    display: flex;
    background-color: rgba(182, 111, 158, 0.8);
    flex-direction: row;
    justify-content: center;
    padding-top: 2vh;
}

.icon {
    max-width: 8vw;
    margin: 20px;

}

.email {
    display: flex;
    background-color: rgba(182, 111, 158, 0.8);
    height: 6vw;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3vh;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.4);
}

.dark {
    background-color: black;
}

.theme-enable, .theme-disable {
    color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}